*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
    li{
        text-decoration: none;
        list-style-type: none;
    }
}
p{
    margin: 0 !important;
}
ul{
    margin-bottom: 0 !important;
}