@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}
ul li {
  text-decoration: none;
  list-style-type: none;
}

nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .mainDivNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .mainDivNavbar .navInfo ul {
  display: flex;
  gap: 20px;
}
nav .mainDivNavbar .navInfo ul li {
  list-style-type: none;
}
nav .mainDivNavbar .navInfo ul li a {
  text-decoration: none;
  color: black;
}
nav .mainDivNavbar .navInfo ul li a .line {
  opacity: 0;
  width: 0px;
  height: 2px;
  background-color: blue;
}
nav .mainDivNavbar .navInfo ul li a:hover {
  color: blue;
}
nav .mainDivNavbar .navInfo ul li a:hover .line {
  opacity: 1;
  width: 100%;
  transition: 500ms;
}
nav .mainDivNavbar .numberAndIcon .phonNumber a {
  text-decoration: none;
}
nav .mainDivNavbar .numberAndIcon .iconsDiv {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
nav .mainDivNavbar .numberAndIcon .iconsDiv i:hover {
  color: red;
}
nav .mainDivNavbar .navAdimPanel {
  text-align: center;
}
nav .mainDivNavbar .navAdimPanel .adminPAnelP {
  cursor: pointer;
  color: blue;
}
nav .mainDivNavbar .navAdimPanel .adminPAnelP:hover {
  color: red;
}
nav .mainDivNavbar #resMenuIcon {
  display: none;
  width: 42px;
  height: 42px;
  border: 2px solid #000000;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}

#mobilNav {
  width: 100%;
  border: 1px solid black;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#mobilNav .navInfoMobil {
  width: 100%;
}
#mobilNav .navInfoMobil ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#mobilNav .navInfoMobil ul li a {
  font-size: 16px;
}
#mobilNav .numberAndIconMobil {
  display: flex;
  flex-direction: column;
}
#mobilNav .numberAndIconMobil .iconsDivMobil {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}

@media only screen and (max-width: 768px) {
  nav .mainDivNavbar img {
    width: 120px;
  }
  nav .mainDivNavbar .navInfo {
    display: none;
  }
  nav .mainDivNavbar .numberAndIcon {
    display: none;
  }
  nav .mainDivNavbar .navAdimPanel {
    display: none;
  }
  nav .mainDivNavbar #resMenuIcon {
    display: block;
  }
}
.adminPanelPassword {
  width: 100%;
  height: 200px;
  height: 0;
  overflow: hidden;
}
.adminPanelPassword form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.adminPanelPassword form input {
  width: 300px;
  height: 48px;
  padding-left: 10px;
}
.adminPanelPassword form #adminPageBtn {
  border: none;
  width: 300px;
  height: 32px;
  background-color: rgb(1, 10, 136);
  color: white;
}
.adminPanelPassword form #adminPageBtn:hover {
  background-color: rgb(131, 123, 245);
  color: black;
}
.adminPanelPassword.adminPanelHidden {
  height: 250px;
  opacity: 1;
  transition: 800ms;
}

.topdanSatisQeydiyyat {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  overflow: hidden;
}
.topdanSatisQeydiyyat form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.topdanSatisQeydiyyat form input {
  width: 300px;
  height: 48px;
  padding-left: 10px;
}
.topdanSatisQeydiyyat form #enterTheUserBtn {
  border: none;
  height: 32px;
  background-color: rgb(1, 10, 136);
  color: white;
}
.topdanSatisQeydiyyat form #enterTheUserBtn:hover {
  background-color: rgb(131, 123, 245);
  color: black;
}
.topdanSatisQeydiyyat.qeydiyyat {
  height: 250px;
  opacity: 1;
  transition: 800ms;
}

.myClassImgSize {
  width: 100%;
  height: 100vh;
}

.carouselMyCaption {
  position: absolute;
  top: 40%;
  right: 15%;
  left: 15%;
  text-align: center;
  z-index: 10;
}
.carouselMyCaption h5 {
  font-size: 72px;
  color: rgb(255, 255, 255);
  font-weight: 1000;
}
.carouselMyCaption p {
  color: rgb(6, 12, 102);
  font-weight: 900;
}
.carouselMyCaption #dahaEtrafli {
  width: 130px;
  height: 32px;
  border: none;
  border-radius: 30px;
}
.carouselMyCaption #dahaEtrafli:hover {
  background-color: rgb(82, 82, 82);
  color: rgb(6, 12, 102);
  font-weight: 600;
  transition: 300ms;
}

@media only screen and (max-width: 768px) {
  .carouselMyCaption {
    display: block !important;
  }
}
#someProducts .mainDivSomeProducts .məhsullarimiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
#someProducts .mainDivSomeProducts .məhsullarimiz h1 {
  font-size: 72px;
  font-weight: 700;
  color: blue;
}
#someProducts .mainDivSomeProducts .məhsullarimiz p {
  text-align: center;
  font-size: 16px;
}
#someProducts .mainDivSomeProducts #productsCard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 50px;
  padding-bottom: 100px;
}
#someProducts .mainDivSomeProducts #productsCard .productsCard_api {
  position: relative;
  width: 32.3333%;
  height: 350px;
  background-image: url("https://www.gilanseramik.az/storage/products/January2021/AUrnTuYYYaYYCQ3Rt9MJ.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#someProducts .mainDivSomeProducts #productsCard .productsCard_api .herthIcon {
  position: absolute;
  font-size: 32px;
  right: 20px;
  top: 10px;
  width: 48px;
  height: 48px;
  text-align: center;
  border-radius: 50%;
}
#someProducts .mainDivSomeProducts #productsCard .productsCard_api .herthIcon:hover {
  transition: 500ms;
  transform: scale(1.3);
  background-color: rgb(226, 22, 22);
}
#someProducts .mainDivSomeProducts #productsCard .productsCard_api .productName {
  width: 60%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
}
#someProducts .mainDivSomeProducts #productsCard .productsCard_api .productName a {
  color: #ffffff;
  font-size: 25px;
}
#someProducts .mainDivSomeProducts #productsCard .productsCard_api:hover .productName {
  height: 72px;
  transition: 500ms;
  background-color: green;
  background-image: linear-gradient(rgb(197, 188, 188), rgb(0, 0, 0));
}
#someProducts .mainDivSomeProducts #productsCard .productsCard_api:hover .productName a {
  transition: 200ms;
  color: rgb(255, 255, 255);
}
#someProducts .mainDivSomeProducts #productsCard .productsCard_api:hover {
  cursor: pointer;
}
#someProducts .mainDivSomeProducts .loadMoreDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}
#someProducts .mainDivSomeProducts .loadMoreDiv #loadMoreBtn {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 24px;
  background-color: blue;
  color: white;
}
#someProducts .mainDivSomeProducts .loadMoreDiv #loadMoreBtn:hover {
  background-color: rgb(3, 126, 126);
  color: black;
  transition: 600ms;
}

#storeLocation .mainDivStoreLocation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 100px;
}
#storeLocation .mainDivStoreLocation .filiallarimiz h1 {
  font-size: 72px;
  font-weight: 700;
  color: blue;
}
#storeLocation .mainDivStoreLocation .mapLocation {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
#storeLocation .mainDivStoreLocation .mapLocation a {
  color: black;
}
#storeLocation .mainDivStoreLocation .mapLocation a:hover {
  color: blue;
}
#storeLocation .mainDivStoreLocation .storeImgDiv {
  width: 100%;
}
#storeLocation .mainDivStoreLocation .storeImgDiv img {
  width: 100%;
  height: 100vh;
}

#calculator {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  margin-bottom: 100px;
  background-color: rgb(81, 81, 238);
}
#calculator .calculatorMainDiv {
  width: 100%;
  display: flex;
}
#calculator .calculatorMainDiv .kafelMetlaxDiv {
  background-image: url("https://www.gilanseramik.az/images/bricks.png");
  background-repeat: no-repeat;
  background-position: top;
  width: 45%;
  display: flex;
}
#calculator .calculatorMainDiv .kafelMetlaxDiv .calculatorIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
#calculator .calculatorMainDiv .kafelMetlaxDiv .calculatorIcon i {
  font-size: 72px;
  color: white;
}
#calculator .calculatorMainDiv .kafelMetlaxDiv .calculatorInfo {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
#calculator .calculatorMainDiv .calculatorAction {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#calculator .calculatorMainDiv .calculatorAction form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#calculator .calculatorMainDiv .calculatorAction form .firstDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#calculator .calculatorMainDiv .calculatorAction form .firstDiv .inputDiv {
  width: 32.333%;
}
#calculator .calculatorMainDiv .calculatorAction form .firstDiv .inputDiv input {
  width: auto;
}
#calculator .calculatorMainDiv .calculatorAction form .secondDiv {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#calculator .calculatorMainDiv .calculatorAction form .secondDiv select {
  width: 40%;
}
#calculator .calculatorMainDiv .calculatorAction #resultCalculator {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-top: 30px;
  padding-left: 40px;
}
#calculator .calculatorMainDiv .calculatorAction #resultCalculator p {
  font-size: 16px;
  font-weight: 700;
}
#calculator .calculatorMainDiv .calculatorAction #resultButtonCalculator {
  width: 120px;
  border: none;
  height: 32px;
}
#calculator .calculatorMainDiv .calculatorAction #resultButtonCalculator:hover {
  border: 2px solid rgb(255, 15, 15);
  background-color: black;
  color: rgb(255, 255, 255);
  transition: 400ms;
  scale: 1.1;
}

#addNewProduct {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
#addNewProduct h1 {
  font-size: 42px;
}
#addNewProduct #newInfoForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 700px;
  padding-top: 30px;
}
#addNewProduct #newInfoForm input {
  width: 70%;
  height: 35px;
  padding-left: 15px;
  border-radius: 20px;
  border: double;
  text-align: start;
}
#addNewProduct #newInfoForm div {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
#addNewProduct #newInfoForm div #addBtn {
  width: 70%;
  height: 25px;
  background-color: white;
}
#addNewProduct #newInfoForm div #addBtn:hover {
  background-color: rgb(8, 180, 8);
  border: none;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  transition: 500ms;
}
#addNewProduct #newInfoForm div #closeBtn {
  width: 30%;
  height: 25px;
  background-color: white;
}
#addNewProduct #newInfoForm div #closeBtn:hover {
  background-color: red;
  border: none;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  transition: 500ms;
}

main #topdanSatisHeader div {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #topdanSatisTable {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("https://www.gilanseramik.az/images/logo.svg");
  background-repeat: no-repeat;
  background-color: rgb(88, 115, 115);
  background-position: center;
  background-size: 40%;
}
main #topdanSatisTable .mainDivTable {
  width: 100%;
}
main #topdanSatisTable .mainDivTable #productTable {
  width: 100%;
}
main #topdanSatisTable .mainDivTable #productTable .staticTr .staticTh {
  color: rgb(255, 255, 255);
  border: 2px solid black;
  text-align: center;
  height: 42px;
}
main #topdanSatisTable .mainDivTable #productTable .staticTr .mehsulQiymeti {
  border: 2px solid black;
  color: rgb(255, 255, 255);
  width: 100px;
  text-align: center;
}
main #topdanSatisTable .mainDivTable #productTable .staticTr .emptyTh {
  border: 2px solid black;
  color: rgb(255, 255, 255);
  width: 100px;
}
main #topdanSatisTable .mainDivTable #productTable .staticTr .emptyTh .addBtn {
  margin-left: 10px;
  margin-top: 3px;
  width: 80%;
  border: none;
  border: 1px solid #000000;
}
main #topdanSatisTable .mainDivTable #productTable .staticTr .emptyTh .xBtn {
  margin-left: 10px;
  margin-top: 3px;
  width: 80%;
  border: none;
  border: 1px solid #000000;
}
main #topdanSatisTable .mainDivTable #productTable .staticTr .emptyTh .xBtn.clickXBtn {
  background-color: yellov;
  transition: 1ms;
}

footer {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgb(56, 56, 56), rgb(252, 252, 252));
}
footer .footerMainDuv {
  width: 100%;
  display: flex;
}
footer .footerMainDuv .pageLogoFooter {
  width: 40%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .footerMainDuv .pageLogoFooter p {
  padding-top: 30px;
}
footer .footerMainDuv .mehsullarimizFooter {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
footer .footerMainDuv .mehsullarimizFooter ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footerMainDuv .mehsullarimizFooter ul h1 {
  padding-bottom: 30px;
}
footer .footerMainDuv .mehsullarimizFooter ul li a {
  color: blue;
  font-size: 24px;
}
footer .footerMainDuv .mehsullarimizFooter ul li a:hover {
  color: red;
  transition: 300ms;
}
footer .footerMainDuv .elaqeFooter {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .footerMainDuv .elaqeFooter ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footerMainDuv .elaqeFooter ul h1 {
  padding-bottom: 10px;
  color: white;
}
footer .footerMainDuv .elaqeFooter ul h3 {
  padding-top: 25px;
  padding-bottom: 10px;
  color: white;
}
footer .footerMainDuv .elaqeFooter ul li {
  color: blue;
  font-size: 20px;
}
footer .footerMainDuv .elaqeFooter ul li a {
  color: red;
}/*# sourceMappingURL=main.css.map */