@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}
ul li {
  text-decoration: none;
  list-style-type: none;
}

p {
  margin: 0 !important;
}

ul {
  margin-bottom: 0 !important;
}

nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .mainDivNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .mainDivNavbar .navInfo .mainUl {
  display: flex;
  gap: 20px;
}
nav .mainDivNavbar .navInfo .mainUl li {
  list-style-type: none;
}
nav .mainDivNavbar .navInfo .mainUl li a {
  text-decoration: none;
  color: black;
}
nav .mainDivNavbar .navInfo .mainUl li a .line {
  opacity: 0;
  width: 0px;
  height: 2px;
  background-color: blue;
}
nav .mainDivNavbar .navInfo .mainUl li a:hover {
  color: blue;
}
nav .mainDivNavbar .navInfo .mainUl li a:hover .line {
  opacity: 1;
  width: 100%;
  transition: 500ms;
}
nav .mainDivNavbar .navInfo .mainUl li .mainDivDorpdown {
  width: 160px;
  z-index: 6;
  position: absolute;
  top: 48px;
  height: 180px;
  background-color: transparent;
  display: none;
}
nav .mainDivNavbar .navInfo .mainUl li .mainDivDorpdown #mehsullarDropDown {
  width: 160px;
  height: 180px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 16px;
  z-index: 5;
  background-color: blue;
}
nav .mainDivNavbar .navInfo .mainUl li .mainDivDorpdown #mehsullarDropDown .mehsullarUl {
  width: 100%;
}
nav .mainDivNavbar .navInfo .mainUl li .mainDivDorpdown #mehsullarDropDown .mehsullarUl li div {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
}
nav .mainDivNavbar .navInfo .mainUl li .mainDivDorpdown #mehsullarDropDown .mehsullarUl li div:hover {
  background-color: white;
}
nav .mainDivNavbar .navInfo .mainUl li .mainDivDorpdown #mehsullarDropDown .mehsullarUl li div:hover a {
  color: black;
  transition: 500ms;
}
nav .mainDivNavbar .navInfo .mainUl li .mainDivDorpdown #mehsullarDropDown .mehsullarUl li div a {
  padding-left: 20px;
  color: white;
}
nav .mainDivNavbar .navInfo .mainUl #dorpdownLi:hover .mainDivDorpdown {
  display: block;
}
nav .mainDivNavbar .navInfo .mainUl #dorpdownLi:hover .mainDivDorpdown #mehsullarDropDown {
  display: block;
  transition: 500ms;
}
nav .mainDivNavbar .numberAndIcon .phonNumber a {
  text-decoration: none;
}
nav .mainDivNavbar .numberAndIcon .signupAndLoginDiv {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
nav .mainDivNavbar .numberAndIcon .signupAndLoginDiv button {
  width: 50%;
  height: 32px;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 10px;
}
nav .mainDivNavbar .numberAndIcon .signupAndLoginDiv button:hover {
  background-color: red;
  color: black;
}
nav .mainDivNavbar #serachIconDiv {
  position: absolute;
  right: 280px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  z-index: 15;
}
nav .mainDivNavbar #serachIconDiv:hover {
  border: 1px solid black;
  transition: 1s;
}
nav .mainDivNavbar #closeSearchIcon {
  position: absolute;
  right: 280px;
  display: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  z-index: 15;
}
nav .mainDivNavbar #closeSearchIcon:hover {
  color: blue;
}
nav .mainDivNavbar .searchMainDiv {
  position: absolute;
  display: none;
  width: 740px;
  height: 48px;
  left: 330px;
  border: 1px solid #919090;
  border-radius: 30px;
}
nav .mainDivNavbar .searchMainDiv #search {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border: none;
  padding-left: 30px;
}
nav .mainDivNavbar .searchMainDiv #search:focus-visible {
  outline: none;
}
nav .mainDivNavbar .navAdimPanel {
  text-align: center;
}
nav .mainDivNavbar .navAdimPanel .adminPAnelP {
  cursor: pointer;
  color: blue;
}
nav .mainDivNavbar .navAdimPanel .adminPAnelP:hover {
  color: red;
}
nav .mainDivNavbar #resMenuIcon {
  display: none;
  width: 42px;
  height: 42px;
  border: 2px solid #000000;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  nav .mainDivNavbar img {
    width: 30%;
  }
  nav .mainDivNavbar .navInfo {
    display: none;
  }
  nav .mainDivNavbar .numberAndIcon {
    display: none;
  }
  nav .mainDivNavbar #serachIconDiv {
    display: none;
  }
  nav .mainDivNavbar #closeSearchIcon {
    display: none;
  }
  nav .mainDivNavbar #closeSearchIcon .searchMainDiv {
    display: none;
  }
  nav .mainDivNavbar .navAdimPanel {
    display: block;
  }
  nav .mainDivNavbar #resMenuIcon {
    display: block;
  }
}
#mobilNav {
  width: 0;
  height: 0;
  overflow: hidden;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#mobilNav .navInfoMobil {
  width: 100%;
}
#mobilNav .navInfoMobil ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#mobilNav .navInfoMobil ul li a {
  font-size: 16px;
}
#mobilNav .numberAndIconMobil {
  display: flex;
  flex-direction: column;
}
#mobilNav .numberAndIconMobil .phonNumber {
  display: flex;
  justify-content: center;
  align-items: center;
}
#mobilNav .numberAndIconMobil .iconsDivMobil {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}
#mobilNav .login {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
#mobilNav .login #logInBtn {
  width: 70px;
  border: none;
  background-color: blue;
  color: white;
}
#mobilNav .login #signUpBtn {
  width: 70px;
  border: none;
  background-color: blue;
  color: white;
}
#mobilNav.hiddenNav {
  height: 200px;
  width: 100%;
  transition: 1s;
}

@media only screen and (max-width: 768px) {
  #mobilNav {
    display: block;
  }
}
.loginFormDiv {
  width: 100%;
  overflow: hidden;
  height: 0px;
}
.loginFormDiv form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.loginFormDiv form input {
  height: 32px;
  padding-left: 10px;
  border: none;
  border-top-left-radius: 17px;
  border-bottom-right-radius: 17px;
  background-color: rgb(207, 207, 207);
}
.loginFormDiv form button {
  border: none;
  width: 80px;
  background-color: blue;
  color: white;
  height: 32px;
  border-radius: 20px;
}
.loginFormDiv form button:hover {
  background-color: red;
  color: black;
}
.loginFormDiv.loginFormHidden {
  height: 180px;
  transition: 1s;
}

.sigUpFormDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 0px;
  overflow: hidden;
}
.sigUpFormDiv h1 {
  font-size: 32px;
}
.sigUpFormDiv form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.sigUpFormDiv form input {
  width: 250px;
  padding-left: 10px;
  height: 38px;
  border: none;
  border-top-left-radius: 17px;
  border-bottom-right-radius: 17px;
  background-color: rgb(207, 207, 207);
}
.sigUpFormDiv form #genderDiv {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}
.sigUpFormDiv form #genderDiv input {
  width: auto;
  height: auto;
}
.sigUpFormDiv button {
  width: 250px;
  height: 35px;
  border: navajowhite;
  background-color: blue;
  border-radius: 20px;
}
.sigUpFormDiv button:hover {
  background-color: red;
  color: black;
}
.sigUpFormDiv.signupFormHidden {
  height: 430px;
  opacity: 1;
  transition: 1s;
}

.adminPanelPassword {
  width: 100%;
  height: 200px;
  height: 0;
  overflow: hidden;
}
.adminPanelPassword form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.adminPanelPassword form input {
  width: 300px;
  height: 48px;
  padding-left: 10px;
}
.adminPanelPassword form #adminPageBtn {
  border: none;
  width: 300px;
  height: 32px;
  background-color: rgb(1, 10, 136);
  color: white;
}
.adminPanelPassword form #adminPageBtn:hover {
  background-color: rgb(131, 123, 245);
  color: black;
}
.adminPanelPassword.adminPanelHidden {
  height: 250px;
  opacity: 1;
  transition: 800ms;
}

@media only screen and (max-width: 768px) {
  .adminPanelPassword form input {
    max-width: 300px;
  }
}
.topdanSatisQeydiyyat {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  overflow: hidden;
}
.topdanSatisQeydiyyat form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.topdanSatisQeydiyyat form input {
  width: 300px;
  height: 48px;
  padding-left: 10px;
}
.topdanSatisQeydiyyat form #enterTheUserBtn {
  border: none;
  height: 32px;
  background-color: rgb(1, 10, 136);
  color: white;
}
.topdanSatisQeydiyyat form #enterTheUserBtn:hover {
  background-color: rgb(131, 123, 245);
  color: black;
}
.topdanSatisQeydiyyat.qeydiyyat {
  height: 250px;
  opacity: 1;
  transition: 800ms;
}

.myClassImgSize {
  width: 100%;
  height: 100vh;
}

@media only screen and (max-width: 768px) {
  .myClassImgSize {
    height: 80vh;
  }
}
.carouselMyCaption {
  position: absolute;
  top: 40%;
  right: 15%;
  left: 15%;
  text-align: center;
  z-index: 10;
}
.carouselMyCaption h5 {
  font-size: 72px;
  color: rgb(255, 255, 255);
  font-weight: 1000;
}
.carouselMyCaption p {
  color: rgb(6, 12, 102);
  font-weight: 900;
}

@media only screen and (max-width: 768px) {
  .carouselMyCaption {
    display: block !important;
  }
  .carouselMyCaption h5 {
    font-size: 24px;
  }
}
#someProducts .mainDivSomeProducts .məhsullarimiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
#someProducts .mainDivSomeProducts .məhsullarimiz h1 {
  font-size: 72px;
  font-weight: 700;
  color: blue;
}
#someProducts .mainDivSomeProducts .məhsullarimiz p {
  text-align: center;
  font-size: 16px;
}
#someProducts .mainDivSomeProducts #productsCard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 50px;
  padding-bottom: 100px;
}
#someProducts .mainDivSomeProducts #productsCard .productsCard_api {
  position: relative;
  width: 32.3333%;
  height: 350px;
  background-image: url("https://www.gilanseramik.az/storage/products/January2021/AUrnTuYYYaYYCQ3Rt9MJ.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#someProducts .mainDivSomeProducts #productsCard .productsCard_api .herthIcon {
  position: absolute;
  font-size: 32px;
  right: 20px;
  top: 10px;
  width: 48px;
  height: 48px;
  text-align: center;
  border-radius: 50%;
}
#someProducts .mainDivSomeProducts #productsCard .productsCard_api .herthIcon:hover {
  transition: 500ms;
  transform: scale(1.3);
  background-color: rgb(226, 22, 22);
}
#someProducts .mainDivSomeProducts #productsCard .productsCard_api .productName {
  width: 60%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
}
#someProducts .mainDivSomeProducts #productsCard .productsCard_api .productName a {
  color: #ffffff;
  font-size: 25px;
}
#someProducts .mainDivSomeProducts #productsCard .productsCard_api:hover .productName {
  height: 72px;
  transition: 500ms;
  background-color: green;
  background-image: linear-gradient(rgb(197, 188, 188), rgb(0, 0, 0));
}
#someProducts .mainDivSomeProducts #productsCard .productsCard_api:hover .productName a {
  transition: 200ms;
  color: rgb(255, 255, 255);
}
#someProducts .mainDivSomeProducts #productsCard .productsCard_api:hover {
  cursor: pointer;
}
#someProducts .mainDivSomeProducts .loadMoreDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}
#someProducts .mainDivSomeProducts .loadMoreDiv #loadMoreBtn {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 24px;
  background-color: blue;
  color: white;
}
#someProducts .mainDivSomeProducts .loadMoreDiv #loadMoreBtn:hover {
  background-color: rgb(3, 126, 126);
  color: black;
  transition: 600ms;
}

@media only screen and (max-width: 768px) {
  #someProducts .mainDivSomeProducts .məhsullarimiz {
    padding-top: 30px;
  }
  #someProducts .mainDivSomeProducts .məhsullarimiz h1 {
    font-size: 24px;
  }
  #someProducts .mainDivSomeProducts #productsCard {
    display: flex;
    flex-direction: column;
  }
  #someProducts .mainDivSomeProducts #productsCard .productsCard_api {
    width: 100%;
  }
}
#storeLocation .mainDivStoreLocation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}
#storeLocation .mainDivStoreLocation .filiallarimiz h1 {
  font-size: 72px;
  font-weight: 700;
  color: blue;
}
#storeLocation .mainDivStoreLocation .mapLocation {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
#storeLocation .mainDivStoreLocation .mapLocation a {
  color: black;
}
#storeLocation .mainDivStoreLocation .mapLocation a:hover {
  color: blue;
}
#storeLocation .mainDivStoreLocation .storeImgDiv {
  width: 100%;
}
#storeLocation .mainDivStoreLocation .storeImgDiv img {
  width: 100%;
  height: 100vh;
}

@media only screen and (max-width: 768px) {
  #storeLocation .mainDivStoreLocation {
    padding-top: 30px;
  }
  #storeLocation .mainDivStoreLocation .filiallarimiz h1 {
    font-size: 24px;
  }
  #storeLocation .mainDivStoreLocation .storeImgDiv img {
    height: 80vh;
  }
}
#calculator {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  margin-bottom: 100px;
  background-color: rgb(81, 81, 238);
}
#calculator .calculatorMainDiv {
  width: 100%;
  display: flex;
}
#calculator .calculatorMainDiv .kafelMetlaxDiv {
  background-image: url("https://www.gilanseramik.az/images/bricks.png");
  background-repeat: no-repeat;
  background-position: top;
  width: 45%;
  display: flex;
}
#calculator .calculatorMainDiv .kafelMetlaxDiv .calculatorIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
#calculator .calculatorMainDiv .kafelMetlaxDiv .calculatorIcon i {
  font-size: 72px;
  color: white;
}
#calculator .calculatorMainDiv .kafelMetlaxDiv .calculatorInfo {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
#calculator .calculatorMainDiv .calculatorAction {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#calculator .calculatorMainDiv .calculatorAction form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#calculator .calculatorMainDiv .calculatorAction form .firstDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#calculator .calculatorMainDiv .calculatorAction form .firstDiv .inputDiv {
  width: 32.333%;
}
#calculator .calculatorMainDiv .calculatorAction form .firstDiv .inputDiv input {
  width: auto;
}
#calculator .calculatorMainDiv .calculatorAction form .secondDiv {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#calculator .calculatorMainDiv .calculatorAction form .secondDiv select {
  width: 40%;
}
#calculator .calculatorMainDiv .calculatorAction #resultCalculator {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-top: 30px;
  padding-left: 40px;
}
#calculator .calculatorMainDiv .calculatorAction #resultCalculator p {
  font-size: 16px;
  font-weight: 700;
}
#calculator .calculatorMainDiv .calculatorAction #resultButtonCalculator {
  width: 120px;
  border: none;
  height: 32px;
}
#calculator .calculatorMainDiv .calculatorAction #resultButtonCalculator:hover {
  border: 2px solid rgb(255, 15, 15);
  background-color: black;
  color: rgb(255, 255, 255);
  transition: 400ms;
  scale: 1.1;
}

@media only screen and (max-width: 768px) {
  #calculator .calculatorMainDiv {
    display: flex;
    flex-direction: column;
  }
  #calculator .calculatorMainDiv .kafelMetlaxDiv {
    width: 100%;
  }
  #calculator .calculatorMainDiv .calculatorAction {
    width: 100%;
  }
  #calculator .calculatorMainDiv .calculatorAction form .firstDiv {
    display: flex;
    flex-direction: column;
  }
  #calculator .calculatorMainDiv .calculatorAction form .firstDiv .inputDiv {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: start;
  }
  #calculator .calculatorMainDiv .calculatorAction form .secondDiv select {
    width: 50%;
  }
  #calculator .calculatorMainDiv #resultButtonCalculator {
    margin-top: 30px;
  }
}
#addNewProduct {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
#addNewProduct h1 {
  font-size: 42px;
}
#addNewProduct #newInfoForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 70%;
  padding-top: 30px;
}
#addNewProduct #newInfoForm input {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border-radius: 20px;
  border: double;
  text-align: start;
}
#addNewProduct #newInfoForm div {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
#addNewProduct #newInfoForm div #addBtn {
  width: 70%;
  height: 25px;
  background-color: white;
}
#addNewProduct #newInfoForm div #addBtn:hover {
  background-color: rgb(8, 180, 8);
  border: none;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  transition: 500ms;
}
#addNewProduct #newInfoForm div #closeBtn {
  width: 30%;
  height: 25px;
  background-color: white;
}
#addNewProduct #newInfoForm div #closeBtn:hover {
  background-color: red;
  border: none;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  transition: 500ms;
}

@media only screen and (max-width: 768px) {
  #addNewProduct h1 {
    font-size: 32px;
  }
  #addNewProduct #newInfoForm div {
    width: 70%;
  }
}
#topdanSatisTable {
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("https://www.gilanseramik.az/images/logo.svg");
  background-repeat: no-repeat;
  background-color: rgb(88, 115, 115);
  background-position: center;
  background-size: 40%;
}
#topdanSatisTable .mainDivTable {
  width: 100%;
}
#topdanSatisTable .mainDivTable #productTable {
  width: 100%;
}
#topdanSatisTable .mainDivTable #productTable .staticTr .staticTh {
  color: rgb(255, 255, 255);
  border: 2px solid black;
  text-align: center;
  height: 42px;
}
#topdanSatisTable .mainDivTable #productTable .staticTr .mehsulQiymeti {
  border: 2px solid black;
  color: rgb(255, 255, 255);
  width: 100px;
  text-align: center;
}
#topdanSatisTable .mainDivTable #productTable .staticTr .emptyTh {
  border: 2px solid black;
  color: rgb(255, 255, 255);
  width: 100px;
}

.deleteBtn {
  margin-left: 10px;
  margin-top: 3px;
  width: 80%;
  border: none;
  border: 1px solid #000000;
}

main #topdanSatisHeader div {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #topdanSatisTable {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("https://www.gilanseramik.az/images/logo.svg");
  background-repeat: no-repeat;
  background-color: rgb(88, 115, 115);
  background-position: center;
  background-size: 40%;
}
main #topdanSatisTable .mainDivTable {
  width: 100%;
}
main #topdanSatisTable .mainDivTable #productTable {
  width: 100%;
}
main #topdanSatisTable .mainDivTable #productTable .staticTr .staticTh {
  color: rgb(255, 255, 255);
  border: 2px solid black;
  text-align: center;
  height: 42px;
}
main #topdanSatisTable .mainDivTable #productTable .staticTr .mehsulQiymeti {
  border: 2px solid black;
  color: rgb(255, 255, 255);
  width: 100px;
  text-align: center;
}
main #topdanSatisTable .mainDivTable #productTable .staticTr .emptyTh {
  border: 2px solid black;
  color: rgb(255, 255, 255);
  width: 100px;
}
main #topdanSatisTable .confirmDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
main #topdanSatisTable .confirmDiv #confirmBtn {
  width: 30%;
  height: 48px;
  border: none;
}
main #topdanSatisTable .confirmDiv #confirmBtn:hover {
  background-color: blue;
}

.btnBackgroundColor {
  background-color: green;
}

.addBtn {
  margin-left: 10px;
  margin-top: 3px;
  width: 80%;
  border: none;
  border: 1px solid #000000;
}

#aldiqiqiMehsullar {
  display: none;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(88, 115, 115);
}
#aldiqiqiMehsullar .mainDivAldiqiMEhsullar {
  width: 100%;
}
#aldiqiqiMehsullar .mainDivAldiqiMEhsullar #aldiqiMehsulTable {
  width: 100%;
}
#aldiqiqiMehsullar .mainDivAldiqiMEhsullar #aldiqiMehsulTable .staticTr .staticTh {
  color: rgb(255, 255, 255);
  border: 2px solid black;
  text-align: center;
  height: 42px;
}
#aldiqiqiMehsullar .mainDivAldiqiMEhsullar #aldiqiMehsulTable .staticTr .mehsulQiymeti {
  border: 2px solid black;
  color: rgb(255, 255, 255);
  width: 100px;
  text-align: center;
}
#aldiqiqiMehsullar .mainDivAldiqiMEhsullar #aldiqiMehsulTable .staticTr .emptyTh {
  border: 2px solid black;
  color: rgb(255, 255, 255);
  width: 100px;
}
#aldiqiqiMehsullar .confirmDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
#aldiqiqiMehsullar .confirmDiv #confirmBtn {
  width: 30%;
  height: 48px;
  border: none;
}
#aldiqiqiMehsullar .confirmDiv #confirmBtn:hover {
  background-color: blue;
}

.plusAndMinusBtnStyle {
  margin: 10px 0px;
  width: 30%;
  border: none;
  background-color: rgb(255, 255, 255);
  color: black;
}

main #istehsalProssesimiz {
  background-color: rgb(94, 94, 235);
}
main #istehsalProssesimiz .mainDivForIstehsal {
  display: flex;
}
main #istehsalProssesimiz .mainDivForIstehsal .istehsal {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main #istehsalProssesimiz .mainDivForIstehsal .istehsal h1 {
  font-size: 72px;
  font-weight: 800;
  color: white;
}
main #istehsalProssesimiz .mainDivForIstehsal .beynelxalqStandartlar {
  width: 50%;
}
main #istehsalProssesimiz .mainDivForIstehsal .beynelxalqStandartlar p {
  padding-top: 120px;
  padding-bottom: 20px;
  width: 500px;
  color: white;
}
@media only screen and (max-width: 768px) {
  main #istehsalProssesimiz .mainDivForIstehsal {
    display: flex;
    flex-direction: column;
  }
  main #istehsalProssesimiz .mainDivForIstehsal .istehsal {
    width: 100%;
  }
  main #istehsalProssesimiz .mainDivForIstehsal .istehsal h1 {
    padding-top: 30px;
    font-size: 32px;
  }
  main #istehsalProssesimiz .mainDivForIstehsal .beynelxalqStandartlar {
    width: 100%;
  }
  main #istehsalProssesimiz .mainDivForIstehsal .beynelxalqStandartlar p {
    padding-top: 20px;
    width: auto;
  }
}
main #xammalBazasi .mainDivXammalBazasi {
  width: 100%;
  padding-top: 20px;
}
main #xammalBazasi .mainDivXammalBazasi .xammal {
  width: 100%;
  display: flex;
  padding-top: 30px;
  padding-bottom: 20px;
}
main #xammalBazasi .mainDivXammalBazasi .xammal .xammalFirstDiv {
  width: 40%;
  position: relative;
}
main #xammalBazasi .mainDivXammalBazasi .xammal .xammalFirstDiv h1 {
  font-size: 32px;
  color: rgb(146, 146, 146);
}
main #xammalBazasi .mainDivXammalBazasi .xammal .xammalFirstDiv .lineXammalBazasi {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 120px;
  height: 2px;
  background-color: rgb(201, 201, 201);
}
main #xammalBazasi .mainDivXammalBazasi .xammal .xammalSecondDiv {
  width: 60%;
}
@media only screen and (max-width: 768px) {
  main #xammalBazasi .mainDivXammalBazasi .xammal {
    display: flex;
    flex-direction: column;
  }
  main #xammalBazasi .mainDivXammalBazasi .xammal .xammalFirstDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main #xammalBazasi .mainDivXammalBazasi .xammal .xammalFirstDiv .lineXammalBazasi {
    display: none;
  }
  main #xammalBazasi .mainDivXammalBazasi .xammal .xammalSecondDiv {
    width: 100%;
  }
}
main .bootstraptSliderMyImgSize {
  width: 100%;
  height: 80vh;
}
@media only screen and (max-width: 768px) {
  main .bootstraptSliderMyImgSize {
    width: 100%;
    height: 50%;
  }
}

main #products {
  width: 100%;
}
main #products .mainDivProducts {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main #products .mainDivProducts .mehsullarimizProducts {
  padding-top: 130px;
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #products .mainDivProducts .mehsullarimizProducts h1 {
  font-size: 60px;
  font-weight: 700;
  color: blue;
}
main #products .mainDivProducts .kafelinOlcusu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}
main #products .mainDivProducts .kafelinOlcusu .kafelinOlcusu__mainDiv {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  width: 20%;
}
main #products .mainDivProducts .kafelinOlcusu .kafelinOlcusu__mainDiv h3 {
  font-size: 16px;
  color: rgb(177, 175, 175);
  padding-bottom: 10px;
}
main #products .mainDivProducts .kafelinOlcusu .kafelinOlcusu__mainDiv .hamisiDivForSize {
  padding: 10px;
  height: 40px;
  width: 100%;
  background-color: #f7f9fd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #products .mainDivProducts .kafelinOlcusu .kafelinOlcusu__mainDiv .hamisiDivForSize a {
  color: blue;
}
main #products .mainDivProducts .kafelinOlcusu .kafelinOlcusu__mainDiv .hamisiDivForSize #sizeIcon {
  color: rgb(58, 58, 58);
}
main #products .mainDivProducts .kafelinOlcusu .kafelinOlcusu__mainDiv .hamisiDivForSize #sizeIcon.rotate {
  transform: rotate(180deg);
  transition: 500ms;
}
main #products .mainDivProducts .kafelinOlcusu .kafelinOlcusu__mainDiv #sizeDiv__ul {
  display: none;
  width: 180px;
  height: auto;
  background-color: rgb(238, 234, 234);
  color: white;
  position: absolute;
  top: 86px;
  padding-left: 20px;
}
main #products .mainDivProducts .kafelinOlcusu .kafelinOlcusu__mainDiv #sizeDiv__ul ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
main #products .mainDivProducts .kafelinOlcusu .kafelinOlcusu__mainDiv #sizeDiv__ul ul li {
  color: grey;
  cursor: pointer;
}
main #products .mainDivProducts .kafelinOlcusu .kafelinOlcusu__mainDiv #sizeDiv__ul ul li a {
  color: grey;
}
main #products .mainDivProducts .kafelinOlcusu .kafelinOlcusu__mainDiv #sizeDiv__ul ul li a:hover {
  color: blue;
}
main #products .mainDivProducts .kafelinOlcusu .kafelinOlcusu__mainDiv #sizeDiv__ul.dBlock {
  display: block;
}
main #allProductCart {
  width: 100%;
  padding-top: 160px;
}
main #allProductCart #allProductCardForProductsPage {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 50px;
  padding-bottom: 100px;
}
main #allProductCart #allProductCardForProductsPage .productsCard_api {
  position: relative;
  width: 32.3333%;
  height: 350px;
  background-image: url("https://www.gilanseramik.az/storage/products/January2021/AUrnTuYYYaYYCQ3Rt9MJ.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
main #allProductCart #allProductCardForProductsPage .productsCard_api .herthIcon {
  position: absolute;
  font-size: 32px;
  right: 20px;
  top: 10px;
  width: 48px;
  height: 48px;
  text-align: center;
  border-radius: 50%;
}
main #allProductCart #allProductCardForProductsPage .productsCard_api .herthIcon:hover {
  transition: 500ms;
  transform: scale(1.3);
  background-color: rgb(226, 22, 22);
}
main #allProductCart #allProductCardForProductsPage .productsCard_api .productName {
  width: 60%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
}
main #allProductCart #allProductCardForProductsPage .productsCard_api .productName a {
  color: #ffffff;
  font-size: 25px;
}
main #allProductCart #allProductCardForProductsPage .productsCard_api:hover .productName {
  height: 72px;
  transition: 500ms;
  background-color: green;
  background-image: linear-gradient(rgb(197, 188, 188), rgb(0, 0, 0));
}
main #allProductCart #allProductCardForProductsPage .productsCard_api:hover .productName a {
  transition: 200ms;
  color: rgb(255, 255, 255);
}
main #allProductCart #allProductCardForProductsPage .productsCard_api:hover {
  cursor: pointer;
}

main #zavod {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("https://www.gilanseramik.az/images/bricks.png");
  background-repeat: no-repeat;
}
main #zavod .mainDivZavod {
  display: flex;
  width: 100%;
}
main #zavod .mainDivZavod .zavodHaqqda {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: center;
}
main #zavod .mainDivZavod .zavodHaqqda h1 {
  font-size: 72px;
  font-weight: 800;
  color: blue;
}
main #zavod .mainDivZavod .gilanSeramicMMC {
  padding-top: 100px;
  width: 50%;
}
@media only screen and (max-width: 768px) {
  main #zavod {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  main #zavod .mainDivZavod {
    display: flex;
    flex-direction: column;
  }
  main #zavod .mainDivZavod .zavodHaqqda {
    text-align: start;
    display: flex;
    justify-content: start;
    width: 100%;
  }
  main #zavod .mainDivZavod .zavodHaqqda h1 {
    font-size: 32px;
  }
  main #zavod .mainDivZavod .gilanSeramicMMC {
    width: 100%;
    padding-top: 20px;
  }
}
main #factoryImg .mainDivFactoryImg {
  width: 100%;
}
main #factoryImg .mainDivFactoryImg img {
  width: 100%;
  height: 100vh;
}
main #factoryImg .mainDivFactoryImg p {
  padding-top: 20px;
  color: rgb(152, 152, 152);
}
@media only screen and (max-width: 768px) {
  main #factoryImg .mainDivFactoryImg img {
    height: 50vh;
  }
  main #factoryImg .mainDivFactoryImg p {
    font-size: 16px;
  }
}
main #ourDifference {
  padding-top: 60px;
  padding-bottom: 60px;
}
main #ourDifference .mainDivOurDifference {
  width: 100%;
  display: flex;
}
main #ourDifference .mainDivOurDifference .ferqliliyimiz {
  width: 35%;
  position: relative;
}
main #ourDifference .mainDivOurDifference .ferqliliyimiz h3 {
  padding-left: 50px;
  font-size: 24px;
  color: grey;
  font-weight: 700;
}
main #ourDifference .mainDivOurDifference .ferqliliyimiz .line {
  position: absolute;
  width: 150px;
  top: 14px;
  right: 12px;
  border: 1px solid #c7c7c7;
}
main #ourDifference .mainDivOurDifference .sirketinTexnologiyalari {
  width: 65%;
}
main #ourDifference .mainDivOurDifference .sirketinTexnologiyalari p {
  width: 70%;
}
@media only screen and (max-width: 768px) {
  main #ourDifference {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  main #ourDifference .mainDivOurDifference {
    display: flex;
    flex-direction: column;
  }
  main #ourDifference .mainDivOurDifference .ferqliliyimiz {
    width: 100%;
  }
  main #ourDifference .mainDivOurDifference .ferqliliyimiz h3 {
    padding: 0;
  }
  main #ourDifference .mainDivOurDifference .ferqliliyimiz .line {
    display: none;
  }
  main #ourDifference .mainDivOurDifference .sirketinTexnologiyalari {
    width: 100%;
  }
  main #ourDifference .mainDivOurDifference .sirketinTexnologiyalari p {
    width: 100%;
  }
}
main #factoryDifferentImg {
  padding-top: 30px;
  padding-bottom: 50px;
  width: 100%;
}
main #factoryDifferentImg .maindivDifferentImg {
  display: flex;
  gap: 20px;
}
main #factoryDifferentImg .maindivDifferentImg .firstImg {
  flex-grow: 3;
}
main #factoryDifferentImg .maindivDifferentImg .firstImg img {
  width: 100%;
}
main #factoryDifferentImg .maindivDifferentImg .firstImg img:hover {
  cursor: pointer;
  scale: 1.1;
  transition: 600ms;
}
main #factoryDifferentImg .maindivDifferentImg .secondImg {
  flex-grow: 2;
}
main #factoryDifferentImg .maindivDifferentImg .secondImg img {
  width: 100%;
}
main #factoryDifferentImg .maindivDifferentImg .secondImg img:hover {
  cursor: pointer;
  scale: 1.1;
  transition: 600ms;
}
main #factoryDifferentImg .maindivDifferentImg .thirdImg {
  flex-grow: 2;
}
main #factoryDifferentImg .maindivDifferentImg .thirdImg img {
  width: 100%;
}
main #factoryDifferentImg .maindivDifferentImg .thirdImg img:hover {
  cursor: pointer;
  scale: 1.1;
  transition: 600ms;
}
@media only screen and (max-width: 768px) {
  main #factoryDifferentImg .maindivDifferentImg {
    display: flex;
    flex-direction: column;
  }
  main #factoryDifferentImg .maindivDifferentImg .firstImg {
    padding-left: 30px;
    padding-right: 30px;
  }
  main #factoryDifferentImg .maindivDifferentImg .firstImg img {
    height: 300px;
  }
  main #factoryDifferentImg .maindivDifferentImg .secondImg {
    padding-left: 30px;
    padding-right: 30px;
  }
  main #factoryDifferentImg .maindivDifferentImg .secondImg img {
    height: 300px;
  }
  main #factoryDifferentImg .maindivDifferentImg .thirdImg {
    padding-left: 30px;
    padding-right: 30px;
  }
  main #factoryDifferentImg .maindivDifferentImg .thirdImg img {
    height: 300px;
  }
}
main #missiyamiz {
  padding-top: 70px;
  padding-bottom: 70px;
}
main #missiyamiz .mainDivForMissiamiz {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-left: 200px;
}
main #missiyamiz .mainDivForMissiamiz h1 {
  font-size: 24px;
  color: grey;
}
main #missiyamiz .mainDivForMissiamiz .nailiyyetler {
  padding-right: 250px;
}
@media only screen and (max-width: 768px) {
  main #missiyamiz {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  main #missiyamiz .mainDivForMissiamiz {
    padding-left: 11px;
  }
  main #missiyamiz .mainDivForMissiamiz .nailiyyetler {
    padding: 0;
  }
}
main #sertifikatlar {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f7f9fd;
}
main #sertifikatlar .mainDivForSertifikatlar {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main #sertifikatlar .mainDivForSertifikatlar .yuksekStandart {
  padding-left: 100px;
}
main #sertifikatlar .mainDivForSertifikatlar .yuksekStandart h1 {
  font-weight: 700;
  color: blue;
}
main #sertifikatlar .mainDivForSertifikatlar .yuksekStandart p {
  color: rgb(73, 73, 73);
}
main #sertifikatlar .mainDivForSertifikatlar .sertificateImages {
  padding-top: 60px;
  display: flex;
}
main #sertifikatlar .mainDivForSertifikatlar .sertificateImages .kafelSertifikat {
  width: 100%;
  display: flex;
}
main #sertifikatlar .mainDivForSertifikatlar .sertificateImages .kafelSertifikat .imgDiv {
  width: 40%;
}
main #sertifikatlar .mainDivForSertifikatlar .sertificateImages .kafelSertifikat .imgDiv img {
  width: 100%;
  height: 300px;
}
main #sertifikatlar .mainDivForSertifikatlar .sertificateImages .kafelSertifikat .uyqunluqNo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(0, 0, 0);
}
main #sertifikatlar .mainDivForSertifikatlar .sertificateImages .kafelSertifikat .uyqunluqNo h3 {
  padding-top: 34px;
  font-size: 16px;
}
main #sertifikatlar .mainDivForSertifikatlar .sertificateImages .kafelSertifikat .uyqunluqNo p {
  padding-left: 25px;
}
@media only screen and (max-width: 768px) {
  main #sertifikatlar {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  main #sertifikatlar .mainDivForSertifikatlar .yuksekStandart {
    padding-left: 15px;
  }
  main #sertifikatlar .mainDivForSertifikatlar .yuksekStandart p {
    padding-top: 15px;
  }
  main #sertifikatlar .mainDivForSertifikatlar .sertificateImages {
    display: flex;
    flex-direction: column;
  }
  main #sertifikatlar .mainDivForSertifikatlar .sertificateImages .kafelSertifikat {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  main #sertifikatlar .mainDivForSertifikatlar .sertificateImages .kafelSertifikat .imgDiv {
    width: 100%;
  }
  main #sertifikatlar .mainDivForSertifikatlar .sertificateImages .kafelSertifikat .imgDiv img {
    width: 65%;
  }
  main #sertifikatlar .mainDivForSertifikatlar .sertificateImages .kafelSertifikat .uyqunluqNo {
    width: 100%;
  }
  main #sertifikatlar .mainDivForSertifikatlar .sertificateImages .kafelSertifikat .uyqunluqNo p {
    padding-left: 0;
  }
}

footer {
  width: 100%;
  height: 100vh;
  background-image: url("https://www.gilanseramik.az/images/bricks.png");
  background-repeat: no-repeat;
  background-color: #8a8b8d;
}
footer .mainDivForFooter {
  display: flex;
}
footer .mainDivForFooter .footerLeftDiv {
  text-align: center;
  width: 40%;
  height: 100vh;
}
footer .mainDivForFooter .footerLeftDiv .logoDiv {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .mainDivForFooter .footerLeftDiv .logoDiv p {
  padding-top: 20px;
  color: blue;
}
footer .mainDivForFooter .footerLeftDiv .contactUsFooter {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .mainDivForFooter .footerLeftDiv .contactUsFooter h3 {
  color: rgb(0, 0, 0);
}
footer .mainDivForFooter .footerLeftDiv .contactUsFooter .iconsDivFooter {
  padding-top: 20px;
  display: flex;
  gap: 30px;
}
footer .mainDivForFooter .footerLeftDiv .contactUsFooter .iconsDivFooter a {
  color: blue;
}
footer .mainDivForFooter .footerLeftDiv .contactUsFooter .iconsDivFooter a:hover {
  color: black;
  transition: 500ms;
  scale: 2;
}
footer .mainDivForFooter .footerRightDiv {
  display: flex;
  width: 60%;
}
footer .mainDivForFooter .footerRightDiv .firstDiv {
  width: 32%;
  padding-top: 100px;
  padding-left: 10px;
}
footer .mainDivForFooter .footerRightDiv .firstDiv .footerMenu {
  padding-top: 20px;
}
footer .mainDivForFooter .footerRightDiv .firstDiv .footerMenu a {
  color: rgb(0, 0, 0);
}
footer .mainDivForFooter .footerRightDiv .firstDiv .footerMenu a .lineForFooter {
  width: 0px;
  background-color: black;
  height: 0px;
}
footer .mainDivForFooter .footerRightDiv .firstDiv .footerMenu a:hover {
  color: blue;
}
footer .mainDivForFooter .footerRightDiv .firstDiv .footerMenu a:hover .lineForFooter {
  width: 55%;
  height: 1px;
  background-color: blue;
  transition: 600ms;
}
footer .mainDivForFooter .footerRightDiv .secondDiv {
  width: 100%;
  display: flex;
}
footer .mainDivForFooter .footerRightDiv .secondDiv .secondDiv_leftDiv {
  width: 50%;
  padding-top: 120px;
}
footer .mainDivForFooter .footerRightDiv .secondDiv .secondDiv_leftDiv h2 {
  font-size: 16px;
}
footer .mainDivForFooter .footerRightDiv .secondDiv .secondDiv_leftDiv ul {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .mainDivForFooter .footerRightDiv .secondDiv .secondDiv_leftDiv ul li a {
  color: black;
}
footer .mainDivForFooter .footerRightDiv .secondDiv .secondDiv_leftDiv ul li a:hover {
  color: blue;
}
footer .mainDivForFooter .footerRightDiv .secondDiv .secondDiv_rightDiv {
  width: 50%;
}
footer .mainDivForFooter .footerRightDiv .secondDiv .secondDiv_rightDiv .elaqe {
  padding-top: 120px;
  font-size: 16px;
}
footer .mainDivForFooter .footerRightDiv .secondDiv .secondDiv_rightDiv .satisMerkezi {
  padding-top: 20px;
  font-size: 24px;
}
footer .mainDivForFooter .footerRightDiv .secondDiv .secondDiv_rightDiv p {
  color: blue;
}
footer .mainDivForFooter .footerRightDiv .secondDiv .secondDiv_rightDiv .numberDiv {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 20px;
}
footer .mainDivForFooter .footerRightDiv .secondDiv .secondDiv_rightDiv .numberDiv a {
  color: black;
}
footer .mainDivForFooter .footerRightDiv .secondDiv .secondDiv_rightDiv .numberDiv a:hover {
  color: blue;
}
footer .mainDivForFooter .footerRightDiv .secondDiv .secondDiv_rightDiv .mailAdres {
  padding-top: 95px;
}
footer .mainDivForFooter .footerRightDiv .secondDiv .secondDiv_rightDiv .mailAdres a {
  font-size: 24px;
  color: black;
}

@media only screen and (max-width: 768px) {
  footer {
    padding-bottom: 10px;
  }
  footer .mainDivForFooter {
    display: flex;
    flex-direction: column;
  }
  footer .mainDivForFooter .footerLeftDiv {
    width: 100%;
    height: auto;
    display: flex;
  }
  footer .mainDivForFooter .footerLeftDiv .logoDiv {
    padding-top: 20px;
  }
  footer .mainDivForFooter .footerLeftDiv .logoDiv img {
    width: 50%;
  }
  footer .mainDivForFooter .footerLeftDiv .logoDiv p {
    font-size: 12px;
  }
  footer .mainDivForFooter .footerLeftDiv .contactUsFooter {
    padding-top: 20px;
  }
  footer .mainDivForFooter .footerLeftDiv .contactUsFooter h3 {
    font-size: 16px;
  }
  footer .mainDivForFooter .footerLeftDiv .contactUsFooter .iconsDivFooter {
    padding-top: 0;
  }
  footer .mainDivForFooter .footerRightDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  footer .mainDivForFooter .footerRightDiv .firstDiv {
    width: 100%;
    padding-top: 10px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer .mainDivForFooter .footerRightDiv .secondDiv {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  footer .mainDivForFooter .footerRightDiv .secondDiv .secondDiv_leftDiv {
    width: 50%;
    padding-top: 20px;
    padding-left: 30px;
  }
  footer .mainDivForFooter .footerRightDiv .secondDiv .secondDiv_rightDiv {
    width: 50%;
    padding-right: 30px;
    text-align: end;
  }
  footer .mainDivForFooter .footerRightDiv .secondDiv .secondDiv_rightDiv .elaqe {
    padding-top: 20px;
  }
  footer .mainDivForFooter .footerRightDiv .secondDiv .secondDiv_rightDiv .satisMerkezi {
    font-size: 16px;
  }
  footer .mainDivForFooter .footerRightDiv .secondDiv .secondDiv_rightDiv .numberDiv {
    font-size: 14px;
  }
  footer .mainDivForFooter .footerRightDiv .secondDiv .secondDiv_rightDiv .mailAdres {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */