nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  .mainDivNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navInfo {
      .mainUl {
        display: flex;
        gap: 20px;
        li {
          list-style-type: none;
          a {
            text-decoration: none;
            color: black;
            .line {
              opacity: 0;
              width: 0px;
              height: 2px;
              background-color: blue;
            }
            &:hover {
              color: blue;
              .line {
                opacity: 1;
                width: 100%;
                transition: 500ms;
              }
            }
          }
          .mainDivDorpdown {
            width: 160px;
            z-index: 6;
            position: absolute;
            top: 48px;
            height: 180px;
            background-color: transparent;
            display: none;
            #mehsullarDropDown {
              width: 160px;
              height: 180px;
              display: none;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              position: absolute;
              top: 16px;
              z-index: 5;
              background-color: blue;
              .mehsullarUl {
                width: 100%;
                li {
                  div {
                    width: 100%;
                    height: 36px;
                    display: flex;
                    align-items: center;
                    &:hover {
                      background-color: white;
                      a {
                        color: black;
                        transition: 500ms;
                      }
                    }
                    a {
                      padding-left: 20px;
                      color: white;
                    }
                  }
                }
              }
            }
          }
        }
        #dorpdownLi {
          &:hover {
            .mainDivDorpdown {
              display: block;
              #mehsullarDropDown {
                display: block;
                transition: 500ms;
              }
            }
          }
        }
      }
    }
    .numberAndIcon {
      .phonNumber {
        a {
          text-decoration: none;
        }
      }
      .signupAndLoginDiv {
        padding-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        button{
          width: 50%;
          height: 32px;
          border: none;
          background-color: blue;
          color: white;
          border-radius: 10px;
          &:hover{
            background-color: red;
            color: black;
          }
        }
      }
    }
    #serachIconDiv {
      position: absolute;
      right: 280px;
      // border: 1px solid #ad2323;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      z-index: 15;
      &:hover {
        border: 1px solid black;
        transition: 1s;
      }
    }
    #closeSearchIcon {
      position: absolute;
      right: 280px;
      display: none;
      // border: 1px solid #ad2323;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      // display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      z-index: 15;
      &:hover {
        color: blue;
      }
    }
    .searchMainDiv {
      position: absolute;
      display: none;
      width: 740px;
      height: 48px;
      left: 330px;
      border: 1px solid #919090;
      border-radius: 30px;
      #search {
        width: 100%;
        height: 100%;
        border-radius: 30px;
        border: none;
        padding-left: 30px;
        &:focus-visible {
          outline: none;
        }
      }
    }
    .navAdimPanel {
      text-align: center;
      .adminPAnelP {
        cursor: pointer;
        color: blue;
        &:hover {
          color: red;
        }
      }
    }
    #resMenuIcon {
      display: none;
      width: 42px;
      height: 42px;
      border: 2px solid #000000;
      // display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 24px;
      cursor: pointer;
    }
  }
}
@media only screen and (max-width: 576px) {
  nav {
    .mainDivNavbar {
      img {
        width: 30%;
      }
      .navInfo {
        display: none;
      }
      .numberAndIcon {
        display: none;
      }
      #serachIconDiv {
        display: none;
      }
      #closeSearchIcon {
        display: none;
        .searchMainDiv {
          display: none;
        }
      }
      .navAdimPanel {
        display: block;
      }

      #resMenuIcon {
        display: block;
      }
    }
  }
}

// @media only screen and (max-width: 992px) {
//   nav {
//     img {
//       width: 100px;
//     }
//     .mainDivNavbar {
//       .navInfo {
//         display: none;
//       }
//       #resMenuIcon {
//         display: none;
//       }
//     }
//   }
// }

#mobilNav {
  width: 0;
  height: 0;
  overflow: hidden;
  // border: 1px solid black;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .navInfoMobil {
    width: 100%;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      li {
        a {
          font-size: 16px;
        }
      }
    }
  }

  .numberAndIconMobil {
    display: flex;
    flex-direction: column;
    .phonNumber {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .iconsDivMobil {
      text-align: center;
      justify-content: center;
      align-items: center;
      display: flex;
      gap: 10px;
    }
  }


  .login {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    #logInBtn {
      width: 70px;
      border: none;
      background-color: blue;
      color: white;
    }
    #signUpBtn {
      width: 70px;
      border: none;
      background-color: blue;
      color: white;
    }
  }
  &.hiddenNav {
    height: 200px;
    width: 100%;
    transition: 1s;
  }
}
@media only screen and (max-width: 576px) {
  #mobilNav {
    display: block;
  }
}

// mobil navbardaki login hadisesi
.loginFormDiv {
  width: 100%;
  overflow: hidden;
  height: 0px;
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    input{
      height: 32px;
      padding-left: 10px;
      border: none;
      border-top-left-radius: 17px;
      border-bottom-right-radius: 17px;
      background-color: rgb(207, 207, 207);


    }
    button {
      border: none;
      width: 80px;
      background-color: blue;
      color: white;
      height: 32px;
      border-radius: 20px;
      &:hover{
        background-color: red;
        color: black;
      }
    }
  }
  &.loginFormHidden{
    height: 180px;
    transition: 1s;
  
  }
}

// sign u form div

.sigUpFormDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 0px;
  overflow: hidden;
  h1{
    font-size: 32px;
  }
  form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    input{
      width: 250px;
      padding-left: 10px;
      height: 38px;
      border: none;
      border-top-left-radius: 17px;
      border-bottom-right-radius: 17px;
      background-color: rgb(207, 207, 207);

    }
    #genderDiv{
      display: flex;
      gap: 20px;
      padding-bottom: 20px;
      input{
        width: auto;
        height: auto;
      }
    }
  }
  button{
    width: 250px;
    height: 35px;
    border: navajowhite;
    background-color: blue;
   border-radius: 20px;
   &:hover{
    background-color: red;
    color: black;
  }

  }

  &.signupFormHidden{
    height: 430px;
    opacity: 1;
    transition: 1s;
  
  }


}

// @media only screen and (max-width: 992px) {
//   #mobilNav {
//     height: 0;
//     overflow: hidden;
//   }
// }

.adminPanelPassword {
  width: 100%;
  height: 200px;
  height: 0;
  overflow: hidden;
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    input {
      width: 300px;
      height: 48px;
      padding-left: 10px;
    }
    #adminPageBtn {
      border: none;
      width: 300px;
      height: 32px;
      background-color: rgb(1, 10, 136);
      color: white;
      &:hover {
        background-color: rgb(131, 123, 245);
        color: black;
      }
    }
  }
  &.adminPanelHidden {
    height: 250px;
    opacity: 1;
    transition: 800ms;
  }
}

@media only screen and (max-width: 576px) {
  .adminPanelPassword {
    form {
      input {
        max-width: 300px;
      }
    }
  }
}

.topdanSatisQeydiyyat {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  overflow: hidden;
  form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    input {
      width: 300px;
      height: 48px;
      padding-left: 10px;
    }
    #enterTheUserBtn {
      border: none;
      height: 32px;
      background-color: rgb(1, 10, 136);
      color: white;
      &:hover {
        background-color: rgb(131, 123, 245);
        color: black;
      }
    }
  }
  &.qeydiyyat {
    height: 250px;
    opacity: 1;
    transition: 800ms;
  }
}
// @media only screen and (max-width: 992px) {
//   .topdanSatisQeydiyyat {
//     display: none;
//   }
// }
