main {
  // zavod haqqda ,elumat
  #zavod {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("https://www.gilanseramik.az/images/bricks.png");
    background-repeat: no-repeat;
    .mainDivZavod {
      display: flex;
      width: 100%;
      .zavodHaqqda {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: start;
        text-align: center;
        h1 {
          font-size: 72px;
          font-weight: 800;
          color: blue;
        }
      }
      .gilanSeramicMMC {
        padding-top: 100px;
        width: 50%;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    #zavod {
      padding-top: 30px;
      padding-bottom: 20px;
      .mainDivZavod {
        display: flex;
        flex-direction: column;
        .zavodHaqqda {
          text-align: start;
          display: flex;
          justify-content: start;
          width: 100%;
          h1 {
            font-size: 32px;
          }
        }
        .gilanSeramicMMC {
          width: 100%;
          padding-top: 20px;
        }
      }
    }
  }

  // zavodun sekili

  #factoryImg {
    .mainDivFactoryImg {
      width: 100%;
      img {
        width: 100%;
        height: 100vh;
      }
      p {
        padding-top: 20px;
        color: rgb(152, 152, 152);
      }
    }
  }
  @media only screen and (max-width: 768px) {
    #factoryImg {
      .mainDivFactoryImg {
        img {
          height: 50vh;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }

  // ferqliliyimiz zavod haqda diger melumatlar

  #ourDifference {
    padding-top: 60px;
    padding-bottom: 60px;
    .mainDivOurDifference {
      width: 100%;
      display: flex;
      .ferqliliyimiz {
        width: 35%;
        position: relative;
        h3 {
          padding-left: 50px;
          font-size: 24px;
          color: grey;
          font-weight: 700;
        }
        .line {
          position: absolute;
          width: 150px;
          top: 14px;
          right: 12px;
          border: 1px solid #c7c7c7;
        }
      }
      .sirketinTexnologiyalari {
        width: 65%;
        p {
          width: 70%;
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    #ourDifference {
      padding-top: 30px;
      padding-bottom: 30px;
      .mainDivOurDifference {
        display: flex;
        flex-direction: column;
        .ferqliliyimiz {
          width: 100%;
          h3 {
            padding: 0;
          }
          .line {
            display: none;
          }
        }
        .sirketinTexnologiyalari {
          width: 100%;
          p {
            width: 100%;
          }
        }
      }
    }
  }

  // muxtelif wekiller

  #factoryDifferentImg {
    padding-top: 30px;
    padding-bottom: 50px;
    width: 100%;
    .maindivDifferentImg {
      display: flex;
      gap: 20px;
      .firstImg {
        flex-grow: 3;
        img {
          width: 100%;
          &:hover {
            cursor: pointer;
            scale: (1.1);
            transition: 600ms;
          }
        }
      }
      .secondImg {
        flex-grow: 2;
        img {
          width: 100%;
          &:hover {
            cursor: pointer;
            scale: (1.1);
            transition: 600ms;
          }
        }
      }
      .thirdImg {
        flex-grow: 2;

        img {
          width: 100%;
          &:hover {
            cursor: pointer;
            scale: (1.1);
            transition: 600ms;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 768px) {
    #factoryDifferentImg {
      .maindivDifferentImg {
        display: flex;
        flex-direction: column;
        .firstImg {
          padding-left: 30px;
          padding-right: 30px;
          img {
            height: 300px;
          }
        }
        .secondImg {
          padding-left: 30px;
          padding-right: 30px;
          img {
            height: 300px;
          }
        }
        .thirdImg {
          padding-left: 30px;
          padding-right: 30px;
          img {
            height: 300px;
          }
        }
      }
    }
  }
  // missiamiz

  #missiyamiz {
    padding-top: 70px;
    padding-bottom: 70px;
    .mainDivForMissiamiz {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      padding-left: 200px;
      h1 {
        font-size: 24px;
        color: grey;
      }
      .nailiyyetler {
        padding-right: 250px;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    #missiyamiz {
      padding-top: 30px;
      padding-bottom: 30px;
      .mainDivForMissiamiz {
        padding-left: 11px;
        .nailiyyetler {
          padding: 0;
        }
      }
    }
  }

  //   sertifikatlar

  #sertifikatlar {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f7f9fd;
    .mainDivForSertifikatlar {
      width: 100%;
      display: flex;
      flex-direction: column;
      .yuksekStandart {
        padding-left: 100px;
        h1 {
          font-weight: 700;
          color: blue;
        }
        p {
          color: rgb(73, 73, 73);
        }
      }
      .sertificateImages {
        padding-top: 60px;
        display: flex;
        .kafelSertifikat {
          width: 100%;
          display: flex;
          .imgDiv {
            width: 40%;
            img {
              width: 100%;
              height: 300px;
            }
          }
          .uyqunluqNo {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: rgb(0, 0, 0);
            h3 {
              padding-top: 34px;
              font-size: 16px;
            }
            p {
              padding-left: 25px;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 768px) {
    #sertifikatlar {
      padding-top: 30px;
      padding-bottom: 30px;
      .mainDivForSertifikatlar {
        .yuksekStandart {
          padding-left: 15px;
          p {
            padding-top: 15px;
          }
        }
        .sertificateImages {
          display: flex;
          flex-direction: column;
          .kafelSertifikat {
            display: flex;
            flex-direction: column;
            text-align: center;
            .imgDiv {
              width: 100%;
              img {
                width: 65%;
              }
            }
            .uyqunluqNo {
              width: 100%;
              p {
                padding-left: 0;
              }
            }
          }
        }
      }
    }
  }
}
