// bootstrap my class (for  corusell);
.myClassImgSize {
  width: 100%;
  height: 100vh;
}
@media only screen and (max-width: 576px) {
  .myClassImgSize {
    height: 80vh;
  }
}

// porduct info div
.carouselMyCaption {
  position: absolute;
  top: 40%;
  right: 15%;
  left: 15%;
  text-align: center;
  z-index: 10;
  h5 {
    font-size: 72px;
    color: rgb(255, 255, 255);
    font-weight: 1000;
  }
  p {
    color: rgb(6, 12, 102);
    font-weight: 900;
  }
  
}
@media only screen and (max-width: 576px) {
  .carouselMyCaption {
    display: block !important;
    h5 {
      font-size: 24px;
    }
  }
}

// mehsullarimiz section
#someProducts {
  .mainDivSomeProducts {
    .məhsullarimiz {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 100px;
      h1 {
        font-size: 72px;
        font-weight: 700;
        color: blue;
      }
      p {
        text-align: center;
        font-size: 16px;
      }
    }
    #productsCard {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      padding-top: 50px;
      padding-bottom: 100px;
      .productsCard_api {
        position: relative;
        width: 32.3333%;
        height: 350px;
        background-image: url("https://www.gilanseramik.az/storage/products/January2021/AUrnTuYYYaYYCQ3Rt9MJ.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        .herthIcon {
          position: absolute;
          font-size: 32px;
          right: 20px;
          top: 10px;
          width: 48px;
          height: 48px;
          text-align: center;
          border-radius: 50%;
          &:hover {
            transition: 500ms;
            transform: scale(1.3);
            background-color: rgb(226, 22, 22);
          }
        }
        .productName {
          width: 60%;
          height: 44px;
          display: flex;
          justify-content: center;
          align-items: center;
          // border: 1px solid #d41818;
          position: absolute;
          bottom: 0px;
          a {
            color: #ffffff;
            font-size: 25px;
          }
        }

        &:hover {
          .productName {
            height: 72px;
            transition: 500ms;
            background-color: green;
            background-image: linear-gradient(rgb(197, 188, 188), rgb(0, 0, 0));
            a {
              // font-size: 32px;
              transition: 200ms;
              color: rgb(255, 255, 255);
            }
          }
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
    .loadMoreDiv {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 80px;
      #loadMoreBtn {
        width: 300px;
        height: 40px;
        border: none;
        border-radius: 24px;
        background-color: blue;
        color: white;
        &:hover {
          background-color: rgb(3, 126, 126);
          color: black;
          transition: 600ms;
        }
      }
    }
  }
}
@media only screen and (max-width: 576px) {
  #someProducts {
    .mainDivSomeProducts {
      .məhsullarimiz {
        padding-top: 30px;
        h1 {
          font-size: 24px;
        }
      }
      #productsCard {
        display: flex;
        flex-direction: column;
        .productsCard_api {
          width: 100%;
        }
      }
    }
  }
}
// maqazanin yerlesdiyi mekan
#storeLocation {
  .mainDivStoreLocation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    .filiallarimiz {
      h1 {
        font-size: 72px;
        font-weight: 700;
        color: blue;
      }
    }
    .mapLocation {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 10px;
      a {
        color: black;
        &:hover {
          color: blue;
        }
      }
    }
    .storeImgDiv {
      width: 100%;
      img {
        width: 100%;
        height: 100vh;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  #storeLocation {
    .mainDivStoreLocation {
      padding-top: 30px;
      .filiallarimiz{
        h1{
          font-size: 24px;
        }
      }
      .storeImgDiv{
        img{
          height: 80vh;
        }
      }
    }
  }
}
// kafel kalkulyatoru

#calculator {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  margin-bottom: 100px;
  background-color: rgb(81, 81, 238);
  .calculatorMainDiv {
    width: 100%;
    display: flex;
    .kafelMetlaxDiv {
      background-image: url("https://www.gilanseramik.az/images/bricks.png");
      background-repeat: no-repeat;
      background-position: top;
      width: 45%;
      display: flex;
      .calculatorIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          font-size: 72px;
          color: white;
        }
      }
      .calculatorInfo {
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
      }
    }
    .calculatorAction {
      width: 55%;
      // border: 1px solid #af0f0f;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .firstDiv {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          .inputDiv {
            width: 32.333%;
            input {
              width: auto;
            }
          }
        }
        .secondDiv {
          padding-top: 20px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          select {
            width: 40%;
          }
        }
      }
      #resultCalculator {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding-top: 30px;
        padding-left: 40px;
        p {
          font-size: 16px;
          font-weight: 700;
        }
      }
      #resultButtonCalculator {
        width: 120px;
        border: none;
        height: 32px;
        &:hover {
          border: 2px solid rgb(255, 15, 15);
          background-color: black;
          color: rgb(255, 255, 255);
          transition: 400ms;
          scale: (1.1);
        }
      }
    }
  }
}

@media only screen and (max-width: 576px){
  #calculator{
    .calculatorMainDiv{
      display: flex;
      flex-direction: column;
      .kafelMetlaxDiv{
        width: 100%;
      }
      .calculatorAction{
        width: 100%;
        form{
          .firstDiv{
            display: flex;
            flex-direction: column;
            .inputDiv{
              width: 50%;
              display: flex;
              justify-content: center;
              // align-items: center;
              flex-direction: column;
              text-align: start;
            }
            
          }
          .secondDiv{
            select{
              width: 50%

            }
          }
        }
      }
      #resultButtonCalculator{
        margin-top: 30px;
      }
    }
  }
}
